eoshub.xcodeproj/project.xcworkspace/contents.xcworkspacedata
eoshub.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
eoshub.xcodeproj/project.xcworkspace/xcuserdata/kein.xcuserdatad/UserInterfaceState.xcuserstate
eoshub.xcodeproj/xcuserdata/kein.xcuserdatad/xcschemes/xcschememanagement.plist
eoshub.xcworkspace/contents.xcworkspacedata
eoshub.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
eoshub.xcworkspace/xcuserdata/kein.xcuserdatad/IDEFindNavigatorScopes.plist
eoshub.xcworkspace/xcuserdata/kein.xcuserdatad/UserInterfaceState.xcuserstate
eoshub.xcworkspace/xcuserdata/kein.xcuserdatad/xcdebugger/Expressions.xcexplist
